<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <include file="header.html"></include>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/base.css">
<!--    js  css等静态文件不要从static目录开始，否则springboot查询不到文件-->
<!--    <script src="js/jquery.js"></script>-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--首页导航栏-->
<nav id="base_navigate" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="base">解忧书店</a>
        </div>
<!--        搜索框-->
<!--        <form   method="get" action="search_page">-->
            <div class="search_position" style="margin-top:15px; position:absolute; left: 1400px;">
<!--                <input id="test2" type="search" v-model="keyword2" class="form-control" placeholder="搜你想搜~"  >-->
<!--                <div class="search">-->
                    <a   href="/search_page">搜索
<!--                        <button id="search" class="btn btn-info btn-search" onclick="jump()" >搜索</button>-->
                    </a>
<!--                </div>-->
            </div>

<!--        </form>-->
        <ul class="nav navbar-nav navbar-right">
            <div class="username" th:if="${session.user} ne null">
                <li><a class="user-login" th:text="${session.user.getName()}"></a></li>
                <li><a class="user-logout" href="logout"><span class="glyphicon glyphicon-log-out">注销</span></a></li>
            </div>
            <td th:if="${session.user} eq null">
                <li><a href="register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </td>
        </ul>
    </div>
</nav>
<!--<script src="js/search.js"></script>-->
<!--ne !=-->
<!--遍历输出所有图书-->
<tr th:each="book:${bookList}">
    <div class="block">
        <div>
            <img id="img" width="180" height="230" th:src="${book.imgpath}"/><br>
        </div>
        <div class="price">
            <td th:text="'￥'+${book.price}">价格</td>
<!--            <p th:if="${HasThisProduct} ne null">-->
            <br>
        </div>
        <div class="book-font">
            <td th:text="${book.name}">书名</td>
        </div>
        <div th:if="${pid} ne null">
            <div th:if="${#lists.contains(pid,book.pid)}">
                <p th:text="${HasThisProduct}"></p>
            </div>
        </div>
        <a class="book-operate" style="text-decoration:none" th:href="@{/cart/{pid}/1(pid=${book.pid})}">
            <img class="cart-img" src="images/cart.png" alt="购物车"/>加入购物车</a>
    </div>
</tr>

<!--购物车商品总价-->
<div class="cart-price">
    <a href="/cart"><img class="cart2-img" src="images/cart.png" alt="购物车"/></a>
    <p class="summprice"  th:text="'￥'+${price}"></p>
</div>
<p id="book_info"></p>

<!--横线以及版权信息-->
<!--<div class="line" style="border: 1px solid #CCC" ></div>-->
<p class="copyright" th:text="${#request.getAttribute('copyright')}"></p>

</body>


</html>