<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
    <script src="https://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="js/validation.js"></script>
    <script src="js/login.js"></script>
</head>
<body>
<div class="login-container">
    <!--    action="login"-->
    <form id="login-form" class="login-form" action="login" method="post">
        <span></span>
        <label for="email" class="label"></label><br>
        <input id="email" type="text" name="email" placeholder="请输入邮箱" class="glyphicon glyphicon-envelope"><br>
        <label for="name" class="label"></label><br>
        <input id="name" type="text" name="name" placeholder="请输入用户名" class="glyphicon user"><br>
        <label for="password" class="label"></label><br>
        <input id="password" type="password" name="password" placeholder="请输入密码" class="glyphicon glyphicon-lock"><br>
        <button class="login-btn">登录</button>
        <button type="reset">重置</button>

    </form>
</div>
<div th:if="${loginerror} ne null">
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <tr th:text="${loginerror}"></tr>
    </div>
    <!--    <tr th:text="${loginerror}"></tr>-->
</div>
<div th:if="${errorEmail} ne null">
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <tr th:text="${errorEmail}"></tr>
    </div>
    <!--    <tr th:text="${loginerror}"></tr>-->
</div>
<!--<div class="line2" style="border: 1px solid #CCC" ></div>-->
<p class="copyright2" th:text="${#request.getAttribute('copyright')}"></p>
</body>
</html>